# CONSTRUCCION DE CARTERA FINANCIERA

Librerias

In [17]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

### Lectura de base de datos

In [10]:
data_route = '../data/'

In [11]:
expenses_filename = 'expenses.csv'
incomes_filename = 'incomes.csv'

In [12]:
expenses = pd.read_csv(data_route+expenses_filename)
incomes = pd.read_csv(data_route+incomes_filename)

In [13]:
incomes

Empty DataFrame
Columns: [DATE, AMOUNT, CATEGORY, THIRD-PARTY, DESCRIPTION]
Index: []

In [14]:
expenses

Empty DataFrame
Columns: [DATE, AMOUNT, CATEGORY, THIRD-PARTY, DESCRIPTION]
Index: []

### construccion de la clase

In [69]:
class FWallet:
    
    def __init__(self, inputs):
        self.inputs = inputs
        self.incomes =pd.read_csv(self.inputs['data_route']+self.inputs['incomes_filename'])
        self.expenses =pd.read_csv(self.inputs['data_route']+self.inputs['expenses_filename'])

        
        
        ###actions to perform###
        
        ### add incomes to db###
        
    def add_income(self):
        date = input('date: ')
        amount = input('amount: ')
        category = input('category: ')
        third_party = input('third_party: ')
        description = input('description: ')
        
        new_income = [date,amount,category,third_party,description]
        
        n = len(self.incomes)
        self.incomes.loc[n] = new_income 
        
        self.incomes.to_csv(self.inputs['data_route']+self.inputs['incomes_filename'], index = False)
        
        
      ###add expenses to db###  
        
    def add_expense(self):
        date = input('date: ')
        amount = input('amount: ')
        category = input('category: ')
        third_party = input('third_party: ')
        description = input('description: ')
        
        new_expense = [date,amount,category,third_party,description]
        
        n = len(self.expenses)
        self.expenses.loc[n] = new_expense 
        
        self.expenses.to_csv(self.inputs['data_route']+self.inputs['expenses_filename'], index = False)
        
        
        
        ###calculate total incomes###
        
    def total_incomes(self):
        total = self.incomes['AMOUNT'].sum()
        return total
        
        
        ###calculate total expenses### 
    
    def total_expenses(self):
        total = self.expenses['AMOUNT'].sum()
        return total
    
    ###calculate balance : income - expense
    def balance(self):
        balance = self.total_incomes() - self.total_expenses()
        return balance
    
    
    ###create a financial report usin the functions above###
    def financial_report(self):
        print('\n'+'Financial Report'+'\n')
        print(f'total income: ${self.total_incomes()}')
        print(f'total expense: ${self.total_expenses()}')
        print(f'balance: ${self.balance()}')

In [70]:
inputs = {
    
    'data_route' : '../data/',
    'expenses_filename' : 'expenses.csv' ,
    'incomes_filename' : 'incomes.csv'

    
}

In [71]:
cartera = FWallet(inputs)

In [60]:
cartera.incomes

         DATE  AMOUNT    CATEGORY THIRD-PARTY DESCRIPTION
0  09-09-2024    1200  cumpleaños       andes  cumpleaños

In [40]:
cartera.add_income()

date: 09-09-2024
amount: 1200
category: cumpleaños
third_party: andes
description: cumpleaños

cartera.incomes

In [41]:
cartera.incomes

         DATE AMOUNT    CATEGORY THIRD-PARTY DESCRIPTION
0  09-09-2024   1200  cumpleaños       andes  cumpleaños

In [53]:
cartera.expenses

         DATE AMOUNT CATEGORY THIRD-PARTY DESCRIPTION
0  09-09-2000   5000      ncm         mom        baby

In [52]:
cartera.add_expense()

date: 09-09-2000
amount: 5000
category: ncm
third_party: mom
description: baby

In [72]:
cartera.financial_report()

Financial Report

total income: $1200
total expense: $5000
balance: $-3800