# CONSTRUCCION DE CARTERA FINANCIERA

Librerias

In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

### Lectura de base de datos

In [4]:
data_route = '../data/'

In [5]:
expenses_filename = 'expenses.csv'
incomes_filename = 'incomes.csv'

In [6]:
expenses = pd.read_csv(data_route+expenses_filename)
incomes = pd.read_csv(data_route+incomes_filename)

In [7]:
expenses

Empty DataFrame
Columns: [DATE, AMOUNT, CATEGORY, THIRD-PARTY, DESCRIPTION]
Index: []

In [8]:
incomes

Empty DataFrame
Columns: [DATE, AMOUNT, CATEGORY, THIRD-PARTY, DESCRIPTION]
Index: []